<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>购物中心－{config.webname}</title>
<link rel="stylesheet" type="text/css" href="<%templateskin%>/jqmobi/css/icons.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/jqmobi/css/af.ui.base.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
<!--jqMobi主JS-->
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/jqmobi/jq.appframework.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/jqmobi/ui/appframework.ui.js"></script>
<!--jqMobi插件-->
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/jqmobi/plugins/jq.slidemenu.js"></script>
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/base.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/cart.js"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		$("#main_footer a.basket").addClass("pressed");
    });
</script>
</head>

<body>
<div id="afui">
  <div id="content">

	<div id="mainPanel" class="panel" data-footer="main_footer" style="padding-bottom:0;">
      <header>
        <a href="javascript:;" onclick="history.back(-1);" class="backButton">返回</a>
        <h1>购物车</h1>
        <a onclick="$.ui.toggleSideMenu()" class="menuButton"></a>
      </header>
      
      <%if(action=="cart")%>
      <!--购物车-->
      <div>
        <ul class="car-list">
          <%set IList<DTcms.Model.cart_items> ls1=get_cart_list()%>
          <%foreach(DTcms.Model.cart_items modelt in ls1)%>
          <li>
            <a href="<%linkurl("goods_show",{modelt.id})%>" class="img-box" data-ignore="true">
              <img src="{modelt.img_url}" />
            </a>
            <h2>{modelt.title}</h2>
            <div class="note">
                <div class="btn-list">
                  <a href="javascript:;" onclick="CartComputNum(this, '{config.webpath}', '{modelt.id}', -1);">-</a>
                  <input name="goods_quantity" type="text" value="{modelt.quantity}" readonly />
                  <a href="javascript:;" onclick="CartComputNum(this,'{config.webpath}', '{modelt.id}', 1);">+</a>
                  <a href="javascript:;" class="del" onclick="DeleteCart(this,'{config.webpath}','{modelt.id}');">删除</a>
                </div>
                <i class="price">￥{modelt.user_price}</i>
            </div>
          </li>
          <%/foreach%>
          <%if(ls1.Count<1)%>
          <div class="nodata">
            <h1></h1>
            <p>购物车暂无商品</p>
          </div>
          <%/if%>
        </ul>
      </div>
      
      <%if(cartModel.total_quantity>0)%>
      <div class="car-total">
        <div class="btn-list">
          <a href="<%linkurl("shopping","confirm")%>" data-ignore="true" class="btn orange">去结算</a>
        </div>
        <div class="note">
          <h3>总计(不含运费)：</h3>
          <p>金额：￥{cartModel.real_amount}元&nbsp;&nbsp;&nbsp;积分：{cartModel.total_point}分</p>
        </div>
      </div>
      <%/if%>
      <!--/购物车-->
      <%else if(action=="confirm")%>
      <!--订单结算-->
      <script type="text/javascript" src="{config.webpath}scripts/jquery/Validform_v5.3.2_min.js"></script>
	  <script type="text/javascript">
        $(function () {
            //表单提交
            AjaxInitForm('#order_form', '#btnSubmit', 0);
        });
      </script>
      <form name="order_form" id="order_form" url="{config.webpath}tools/submit_ajax.ashx?action=order_save">
        <div class="wrap-box">
          <h2>收货信息</h2>
          <div>
            <div><input name="accept_name" id="accept_name" type="text" placeholder="收货人姓名" value="{userModel.nick_name}" datatype="s2-20" sucmsg=" " /></div>
            <div><input name="address" id="address" type="text" placeholder="收货地址" value="{userModel.address}" datatype="*2-100" sucmsg=" " /></div>
            <div><input name="post_code" id="post_code" type="text" placeholder="邮政编码" /></div>
            <div><input name="mobile" id="mobile" type="text" placeholder="手机号码" value="{userModel.mobile}" datatype="m" sucmsg=" " /></div>
            <div><input name="telphone" id="telphone" type="text" placeholder="联系电话" value="{userModel.telphone}" /></div>
          </div>
        </div>
        
        <div class="wrap-box">
          <h2>支付配送</h2>
          <div>
            <select name="payment_id" onchange="PaymentAmountTotal(this);" datatype="*" sucmsg=" ">
              <option value="" fee="0">付款方式</option>
              <%set DataTable list1=get_payment_list(0, "is_lock=0")%> <!--取得一个DataTable-->
              <%foreach(DataRow dr in list1.Rows)%>
              <%set decimal poundage_amount=get_payment_poundage_amount({strtoint({dr[id]})})%>
              <option value="{dr[id]}" fee="{poundage_amount}">{dr[title]}(手续费{poundage_amount}元)</option>
              <%/foreach%>
            </select>
            <select name="express_id" onchange="FreightAmountTotal(this);" datatype="*" sucmsg=" ">
              <option value="" fee="0">配送方式</option>
              <%set DataTable list2=get_express_list(0, "is_lock=0")%> <!--取得一个DataTable-->
              <%foreach(DataRow dr in list2.Rows)%>
              <option value="{dr[id]}" fee="{dr[express_fee]}">{dr[title]}(运费{dr[express_fee]}元)</option>
              <%/foreach%>
            </select>
            <textarea name="message" rows="2" placeholder="若您对订单有特殊的要求，可在此备注"></textarea>
          </div>
        </div>
        
        <div>
          <ul class="car-list inset">
            <%set IList<DTcms.Model.cart_items> ls2=get_cart_list()%>
            <%foreach(DTcms.Model.cart_items modelt in ls2)%>
            <li>
              <a href="<%linkurl("goods_show",{modelt.id})%>" data-ignore="true" class="img-box">
                <img src="{modelt.img_url}" />
              </a>
              <h2>{modelt.title}</h2>
              <div class="note">
                <span>共{modelt.quantity}件</span>
                <i class="price">￥<%=(modelt.user_price*modelt.quantity)%></i>
              </div>
            </li>
            <%/foreach%>
            <%if(ls2.Count<1)%>
            <div class="nodata">
              <h1></h1>
              <p>购物车暂无商品</p>
            </div>
            <%/if%>
          </ul>
        </div>
        
        <div class="wrap-box">
          <h2>应付总金额：￥<b id="order_amount" class="red">{cartModel.real_amount}</b></h2>
          <p>商品：￥<b id="goods_amount">{cartModel.real_amount}</b>&nbsp;&nbsp;运费：￥<b id="express_fee">0.00</b>&nbsp;&nbsp;手续费：￥<b id="payment_fee">0.00</b></p>
          <p>商品件数：{cartModel.total_quantity}件&nbsp;&nbsp;总积分：{cartModel.total_point}分</p>
        </div>
        
        <div>
          <%if(get_cart_quantity()>0)%>
          <input id="btnSubmit" name="btnSubmit" type="submit" value="确认提交" class="btn red full" />
          <%else%>
          <a class="btn gray full">暂无商品</a>
          <%/if%>
        </div>
      </form>
      <!--/订单结算-->
      <%/if%>
      
      <!--版权信息-->
      <%template src="_copyright.html"%>
      <!--/版权信息-->
	</div>
  
    <!--底部导航-->
    <%template src="_footer.html"%>
    <!--/底部导航-->
	
    <!--左侧导航-->
    <%template src="_nav.html"%>
    <!--/左侧导航-->
      
  </div>
</div>
</body>
</html>
