<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>job</directory>
  <name>在线招聘</name>
  <author>Puppa</author>
  <version>V3.0</version>
  <description>只适合V3.0.3以上版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
 CREATE TABLE {databaseprefix}job(
[id] [int] IDENTITY(1,1) PRIMARY KEY,
[title] [nvarchar](50),
[depart] [nvarchar](50),
[number] [int],
[sex] [nvarchar](50),
[experience] [nvarchar](50),
[education] [nvarchar](50),
[age] [nvarchar](50),
[profession] [nvarchar](50),
[work_area] [nvarchar](50),
[start_time] [nvarchar](50),
[end_time] [nvarchar](50),
[Content] [nvarchar](50),
[ContactName] [nvarchar](50),
[Phone] [nvarchar](50),
[Fax] [nvarchar](50),
[Email] [nvarchar](50),
[Address] [nvarchar](50),
[click] [int],
[sort_id] [int],
[is_lock] [int],
[add_time] [datetime] NOT NULL DEFAULT (getdate())
)
      ]]></sql>
    <sql><![CDATA[
 CREATE TABLE {databaseprefix}job_apply(
[id] [int] IDENTITY(1,1) PRIMARY KEY,
[job_id] [int],
[RealName] [nvarchar](50),
[Sex] [nvarchar](50),
[Birth] [nvarchar](50),
[Marital] [nvarchar](50),
[Origin] [nvarchar](50),
[Hobby] [nvarchar](50),
[School] [nvarchar](50),
[Degree] [nvarchar](50),
[Profess] [nvarchar](50),
[IDNum] [nvarchar](50),
[Address] [nvarchar](200),
[Tel] [nvarchar](50),
[Email] [nvarchar](100),
[Salary] [nvarchar](50),
[EducationExperience] Text,
[WorkExperience] Text,
[SelfContent] Text,
[Is_See] [int],
[sort_id] [int],
[add_time] [datetime] NOT NULL DEFAULT (getdate())
)
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}job</sql>
    <sql>Drop Table {databaseprefix}job_apply</sql>
  </uninstall>
  <urls>
    <rewrite name="job" type="plugin" page="job.aspx" inherit="DTcms.Web.Plugin.Job.job" templet="job.html">
      <item path="job.aspx" pattern="job.aspx" />
      <item path="job/{0}.aspx" pattern="job/(\d+).aspx" querystring="page=$1" />
    </rewrite>
    <rewrite name="job_show" type="plugin" page="job_show.aspx" inherit="DTcms.Web.Plugin.Job.job" templet="job_show.html">
      <item path="job/show/{0}.aspx" pattern="job/show/(\d+).aspx" querystring="id=$1" />
    </rewrite>
    <rewrite name="job_post" type="plugin" page="job_post.aspx" inherit="DTcms.Web.Plugin.Job.job" templet="job_post.html">
      <item path="job/post/{0}.aspx" pattern="job/post/(\d+).aspx" querystring="id=$1" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_job" title="招聘管理" url="admin/index.aspx" action="Show,View,Delete,Add,Edit" />
  </menu>
</plugin>