<div class="Procure_bottom" style="text-align: center; margin-top:20px;">
Copyright © 2014 福州企力办公用品有限公司 闽ICP备14017195号-1<script type="text/javascript">
                                                  var _hmt = _hmt || []; (function () {
                                                      var hm = document.createElement("script");
                                                      hm.src = "http://hm.baidu.com/hm.js?9cc46f34a0b570f69f678c275c60e922";
                                                      var s = document.getElementsByTagName("script")[0];
                                                      s.parentNode.insertBefore(hm, s);
                                                  })();
</script>
  <div class="Procure_bottom_1" style=" display:none;"><a id="open_close" href="javascript:;" ></a></div>
  <div class="Procure_bottom_2"> 
    <!--二级菜单1 start-->
    <ul id="ul_1" class="Procure_bottom_2_ul" style="display:block">
      <li class="Procure_bottom_li"  style="margin-left:0"> <a href="Procurement_list.html"> <img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
    </ul>
    <!--二级菜单1 end--> 
    <!--二级菜单2 start-->
    <ul id="ul_2" class="Procure_bottom_2_ul" style="display:none">
      <li class="Procure_bottom_li"  style="margin-left:0"> <a href="Procurement_list.html"> <img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
    </ul>
    <!--二级菜单2 end--> 
    <!--二级菜单3 start-->
    <ul id="ul_3" class="Procure_bottom_2_ul" style="display:none">
      <li class="Procure_bottom_li"  style="margin-left:0"> <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
    </ul>
    <!--二级菜单3 end--> 
    <!--二级菜单4 start-->
    <ul id="ul_4" class="Procure_bottom_2_ul" style="display:none">
      <li class="Procure_bottom_li"  style="margin-left:0"> <a href="Procurement_list.html"> <img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
    </ul>
    <!--二级菜单4 end--> 
    <!--二级菜单5 start-->
    <ul id="ul_5" class="Procure_bottom_2_ul" style="display:none">
      <li class="Procure_bottom_li"  style="margin-left:0"> <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li class="Procure_bottom_li" > <a href="Procurement_list.html"> <img src="images/house.jpg" /> 办公文具</a> </li>
    </ul>
    <!--二级菜单5 end--> 
  </div>
  <!--二级菜单 end--> 
  <!--一级菜单 start-->
  <div class="Procure_bottom_3">
    <ul>
      <li id="li_1" class="Procure_bottom_li" style="margin-left:0; "> <a href="javascript:;"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li id="li_2" class="Procure_bottom_li"> <a href="javascript:;"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li id="li_3" class="Procure_bottom_li"><a href="javascript:;"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li id="li_4" class="Procure_bottom_li"> <a href="javascript:;"><img src="images/house.jpg" /> 办公文具</a> </li>
      <li id="li_5" class="Procure_bottom_li"> <a href="javascript:;"><img src="images/house.jpg" /> 办公文具</a> </li>
    </ul>
  </div>
  <!--一级菜单 end--> 
</div>
<!-------------------公共部分-------------------------------------------------------------------------------------------------------->
    <!--覆盖页 start-->
    <div class="black_overlay">
    </div>
    <!--覆盖页 end-->
    <!--弹出框 start-->
    <div class="all">
        <!-----------下订单流程------------------->
        <!--购物车列表-->
    <%template src="_shopping_car_list.html"%>
    <!--/购物车列表-->
        <!--购物车 end-->
        <!--------------------------------------------------------------------------填写订单地址 start-->
       <!--选择地址-->
    <%template src="_shopping_address.html"%>
    <!--/选择地址-->
        <!--填写订单地址 end-->
        <!--填写发票 start-->
       <%template src="_shopping_invoice.html"%>
        <!--填写发票 end-->
        <!--确认付款  start-->
       <%template src="_shopping_pay.html"%>
        <!--确认付款  end-->
        <!--活动页 start-->
       <%template src="_shopping_activity.html"%>
        <!--活动页 end -->
        <!------------------------------------------------------------商品详情，搭配，活动，商品搜索------------------>
        <!--商品详情 start-->
       <%template src="_good_detail.html"%>
        <!--商品详情 底部 end-->
        <!--商品详情 end-->
        <!--详情页 搭配 start-->
       <%template src="_good_collocation.html"%>
        <!--详情页 搭配 end-->
        <!--详情页 内容 start-->
        <%template src="_good_content.html"%>
        <!--详情页 内容 end-->
        <!--详情页 推荐 start-->
       <%template src="_good_recommended.html"%>
        <!--详情页 推荐 end-->
        <!--搜索页 start-->
        <%template src="_good_search.html"%>
        <!--搜索页 end-->
    </div>

    <style type="text/css">
li{ list-style:none}
#rightButton{ position:fixed; _position:absolute; top:208px; right:0; z-index:999999; display:block;}
#right_ul{ position:relative;}
#right_qq{  background:url(<%templateskin%>/images/7_03.png) no-repeat; width:68px; height:74px; }
#right_tel{ background:url(<%templateskin%>/images/7_05.png) no-repeat; width:68px; height:71px; }
#right_tip{  background:url(<%templateskin%>/images/flag_right.png) no-repeat; width:252px; height:91px; position:absolute; right:70px; top:-10px; display:none; z-index:999999; }
.flagShow_p1{ float:left; margin-left:15px; _margin-left:5px; font-size:18px; line-height:91px;}
.flagShow_p2{ float:left; margin-left:10px; _margin-left:5px; font-size:18px;  color:#FA7C00;}
.flagShow_p2 a{ display:block; margin: 20px 0 5px 12px; line-height:0;}
.flagShow_p2 span{ margin: 0 0 0 14px; }
.flag_qq{ display:none;}
#backToTop{ position:fixed; _position:absolute; bottom:50px; right:0; z-index:999999; display:none; }
a.backToTop_a{  background:url(<%templateskin%>/images/7_08.png) no-repeat; width:68px; height:79px; display:block; }
a.backToTop_a:active{  background:url(<%templateskin%>/images/7_11.png) no-repeat; }
.line91{ line-height:91px; }
</style>
<!--<script src="<%templateskin%>/js/jquery-1.7.2.min.js" type="text/javascript"></script>-->
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#rightButton").css("right", "0px");

        var button_toggle = true;

        $(".right_ico").mouseover(function () {
            var tip_top;
            var show = $(this).attr('show');
            var hide = $(this).attr('hide');
            tip_top = show == 'tel' ? 65 : -10;
            if (show == "qq") {
                $("#right_tip").css("top", -10).show().find(".flag_qq").show();
                $(".flag_tel2").hide()
                $(".flag_tel").hide()

            }
            if (show == "tel") {
                $("#right_tip").css("top", 65).show().find(".flag_tel").show();
                $(".flag_tel2").hide()
                $(".flag_qq").hide()

            }
            if (show == "tel2") {
                $("#right_tip").css("top", 130).show().find(".flag_tel2").show();
                $(".flag_tel").hide()
                $(".flag_qq").hide()

            }

            button_toggle = false;
        }).mouseout(function () {
            button_toggle = true;
            hideRightTip();
        });

        $("#right_tip").mouseover(function () {
            button_toggle = false;
            $(this).show();
        }).mouseout(function () {
            button_toggle = true;
            hideRightTip();
        });

        


//        $(".right_ico").live("mouseover", function () {
//            var tip_top;
//            var show = $(this).attr('show');
//            var hide = $(this).attr('hide');
//            tip_top = show == 'tel' ? 65 : -10;
//            if (show == "qq") {
//                $("#right_tip").css("top", -10).show().find(".flag_qq").show();
//                $(".flag_tel2").hide()
//                $(".flag_tel").hide()

//            }
//            if (show == "tel") {
//                $("#right_tip").css("top", 65).show().find(".flag_tel").show();
//                $(".flag_tel2").hide()
//                $(".flag_qq").hide()

//            }
//            if (show == "tel2") {
//                $("#right_tip").css("top", 130).show().find(".flag_tel2").show();
//                $(".flag_tel").hide()
//                $(".flag_qq").hide()

//            }

//            button_toggle = false;
//            //$("#right_tip").css("top" , tip_top).show().find(".flag_"+show).show();
//            //$(".flag_"+hide).hide();

//        }).live("mouseout", function () {
//            button_toggle = true;
//            hideRightTip();
//        });



//        $("#right_tip").live("mouseover", function () {
//            button_toggle = false;
//            $(this).show();
//        }).live("mouseout", function () {
//            button_toggle = true;
//            hideRightTip();
//        });

        function hideRightTip() {
            setTimeout(function () {
                if (button_toggle) $("#right_tip").hide();
            }, 500);
        }

        $("#backToTop").click(function () {
            var _this = $(this);
            $('html,body').animate({ scrollTop: 0 }, 500, function () {
                _this.hide();
            });
        });

//        $("#backToTop").live("click", function () {
//            var _this = $(this);
//            $('html,body').animate({ scrollTop: 0 }, 500, function () {
//                _this.hide();
//            });
//        });

        $(window).scroll(function () {
            var htmlTop = $(document).scrollTop();
            if (htmlTop > 0) {
                $("#backToTop").show();
            } else {
                $("#backToTop").hide();
            }
        });
    });
</script>

<div id="rightButton">
	<ul id="right_ul">
		<li id="right_qq" class="right_ico" show="qq" hide="tel"></li>
		<li id="right_tel" class="right_ico" show="tel" hide="qq"></li>


		<li id="right_tip" class="png">
		<p class="flagShow_p1 flag_tel">咨询电话</p>
		<p class="flagShow_p2 flag_tel line91">400-990-7185</p>

		


		<p class="flagShow_p1 flag_qq">咨询QQ</p>
		<p class="flagShow_p2 flag_qq">

		
		<a href="http://wpa.qq.com/msgrd?v=3&uin=1677338260&site=qq&menu=yes" target="_blank">
		<img border="0" src="<%templateskin%>/images/qiyeQQ.png"></a> <span>1677338260</span> </p>
		</li>
	</ul>
</div>
<div id="backToTop">
	<a href="javascript:;" onfocus="this.blur();" class="backToTop_a png"></a>
</div>
    <!--弹出框 end-->