 <div class="recommended">
            <!--详情页 推荐 顶部 start-->
            <div class="collocation_top">
                <div class="collocation_top_left">
                    活动&推荐 <span>RECOMMENDED</span> <span style="float: right; line-height: 30px;">得力(deli)837
                        轻便经济款通用型桌面计算器</span></div>
                <div class="collocation_top_right">
                    <img onclick="close_shopping()" src="<%templateskin%>/images/close_detail.jpg" width="14" height="17" /></div>
            </div>
            <!--详情页 推荐 顶部 end-->
            <!--详情页 推荐 内容 start-->
            <div class="underway">
                <p>
                    UnderWay</p>
                <p>
                    <span>正在进行</span>
                    <p>
            </div>
            <div class="underway_img">
                <ul>
                    <li style="margin-left: 0"><a href="#">
                        <img src="<%templateskin%>/images/recommended_img.jpg" width="226" height="164" /></a></li>
                    <li><a href="#">
                        <img src="<%templateskin%>/images/recommended_img.jpg" width="226" height="164" /></a></li>
                    <li><a href="#">
                        <img src="<%templateskin%>/images/recommended_img.jpg" width="226" height="164" /></a></li>
                    <li><a href="#">
                        <img src="<%templateskin%>/images/recommended_img.jpg" width="226" height="164" /></a></li>
                </ul>
            </div>
            <div class="guess_favorite">
                <div class="guess_main">
                    <div class="guess_main_top">
                        猜你喜欢</div>
                    <div class="guess_main_center">
                        <ul>
                            <li style="margin-left: 0"><a href="#">
                                <img src="<%templateskin%>/images/guess_favorite.jpg" width="133" height="130" />夏普（SHARP）EL-2135商务办公
                                计算器 红色 </a><span><strong>￥99.00</strong></span>
                                <div class="Procurement_list_li_bottom guess">
                                    <img class="reduce_btn" src="<%templateskin%>/images/reduce.jpg" width="14" height="14" />
                                    <input type="text" id="inputCount" value="1" name="" />
                                    <img class="add_btn" src="<%templateskin%>/images/add.jpg" width="14" height="14" /><a onclick="open_shopping()"
                                        href="javascript:;" class="enter_shoppingcar">进购物车</a></div>
                            </li>
                            <li><a href="#">
                                <img src="<%templateskin%>/images/guess_favorite.jpg" width="133" height="130" />夏普（SHARP）EL-2135商务办公
                                计算器 红色 </a><span><strong>￥99.00</strong></span>
                                <div class="Procurement_list_li_bottom guess">
                                    <img class="reduce_btn" src="<%templateskin%>/images/reduce.jpg" width="14" height="14" />
                                    <input type="text" id="inputCount" value="1" name="" />
                                    <img class="add_btn" src="<%templateskin%>/images/add.jpg" width="14" height="14" /><a onclick="open_shopping()"
                                        href="javascript:;" class="enter_shoppingcar">进购物车</a></div>
                            </li>
                            <li><a href="#">
                                <img src="<%templateskin%>/images/guess_favorite.jpg" width="133" height="130" />夏普（SHARP）EL-2135商务办公
                                计算器 红色 </a><span><strong>￥99.00</strong></span>
                                <div class="Procurement_list_li_bottom guess">
                                    <img class="reduce_btn" src="<%templateskin%>/images/reduce.jpg" width="14" height="14" />
                                    <input type="text" id="inputCount" value="1" name="" />
                                    <img class="add_btn" src="<%templateskin%>/images/add.jpg" width="14" height="14" /><a onclick="open_shopping()"
                                        href="javascript:;" class="enter_shoppingcar">进购物车</a></div>
                            </li>
                            <li><a href="#">
                                <img src="<%templateskin%>/images/guess_favorite.jpg" width="133" height="130" />夏普（SHARP）EL-2135商务办公
                                计算器 红色 </a><span><strong>￥99.00</strong></span>
                                <div class="Procurement_list_li_bottom guess">
                                    <img class="reduce_btn" src="<%templateskin%>/images/reduce.jpg" width="14" height="14" />
                                    <input type="text" id="inputCount" value="1" name="" />
                                    <img class="add_btn" src="<%templateskin%>/images/add.jpg" width="14" height="14" /><a onclick="open_shopping()"
                                        href="javascript:;" class="enter_shoppingcar">进购物车</a></div>
                            </li>
                            <li><a href="#">
                                <img src="<%templateskin%>/images/guess_favorite.jpg" width="133" height="130" />夏普（SHARP）EL-2135商务办公
                                计算器 红色 </a><span><strong>￥99.00</strong></span>
                                <div class="Procurement_list_li_bottom guess">
                                    <img class="reduce_btn" src="<%templateskin%>/images/reduce.jpg" width="14" height="14" />
                                    <input type="text" id="inputCount" value="1" name="" />
                                    <img class="add_btn" src="<%templateskin%>/images/add.jpg" width="14" height="14" /><a onclick="open_shopping()"
                                        href="javascript:;" class="enter_shoppingcar">进购物车</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--详情页 推荐 内容 end-->
            <!--详情页 推荐 底部 start-->
            <div class="Product_detail_main_bottom">
                <ul>
                    <li><a href="javascript:;" style="background: url(<%templateskin%>/images/detail_bottom_no.jpg) no-repeat 21px 19px;">
                        商品</a> </li>
                    <li name="li_good_meal"><a href="javascript:;" style="background: url(<%templateskin%>/images/detail_bottom_collocation.jpg) no-repeat 21px 19px;">
                        搭配</a> </li>
                    <li><a href="javascript:;" style="background: url('<%templateskin%>/images/detail_bottom_detail.jpg') no-repeat 21px 19px;">
                        详情</a> </li>
                    <li><a href="javascript:;" style="background: url(<%templateskin%>/images/activity_yes.jpg) no-repeat 8px 19px #ff572a;
                        color: #fff; padding-left: 25px; width: 82px">活动& 推荐</a> </li>
                </ul>
                <div class="Product_detail_bottom_right">
                    <div class="add_car">
                        <a href="#">放入购物车</a></div>
                    <div class="detail_collect">
                        <a href="">收藏</a><span class="top_tip">1</span></div>
                </div>
            </div>
            <!--详情页 推荐 底部 start-->
        </div>