 <div class="collocation">
            <!--详情页 搭配 顶部 start-->
            <div class="collocation_top">
                <div class="collocation_top_left">
                    搭配 <span sytle="float:left">COLLOCATION</span> <span style="float: right; line-height: 30px;" id="collocation_good_name">
                        </span></div>
                <div class="collocation_top_right">
                    <img onclick="close_shopping()" src="<%templateskin%>/images/close_detail.jpg" width="14" height="17" /></div>
            </div>
            <!--详情页 搭配 顶部 end-->
            <!--详情页 搭配 内容 start-->
            <div class="collocation_main">
                <div class="Popular_collocation" id="div_meal_box">
                    <div class="Popular_collocation_top">
                        人气组合</div>
                    <div class="Popular_collocation_main">
                        <div class="Popular_collocation_classes" id="div_meal">
                            
                            </div>
                        <div class="Popular_collocation_detail">
                        <div style=" width:100px; float:left; padding-left:10px;">
                        <img src="" width="100" height="98" name="img_meal"/>
                        <p name="p_meal_good_name"></p>
                        <div class="select_collocation" name="div_meal_price"></div> 
                        </div>
                        <span></span>
                        <div style="width: 580px;overflow-x: scroll;height: 165px; float:left;">
                            <ul id="ul_meal_good">
                            </ul>
                            </div>
                            <div class="Popular_collocation_detail_right">
                                <div class="Popular_collocation_detail_right_title">
                                    购买人气组合</div>
                                <div class="Popular_collocation_detail_right_price">
                                    <p >
                                        总价：<b id="b_meal_price1"></b></p> 
                                </div>
                                <div class="Popular_collocation_detail_right_bottom">
                                    <a href="#">购买组合</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Recommend_collocation" id="div_red_box">
                    <div class="Popular_collocation_top">
                        推荐配件</div>
                    <div class="Popular_collocation_main">
                        <div class="Popular_collocation_detail" style="padding: 42px 32px 7px 8px;">
                        <div style=" width:100px; float:left; padding-left:10px;">
                        <img src="" width="100" height="98" name="img_meal"/>
                        <p name="p_meal_good_name"></p>
                        <div class="select_collocation" name="div_meal_price"></div>
                        
                        </div>
                        <span></span>

                        <div style="width: 580px;overflow-x: scroll;height: 165px; float:left;">
                            <ul id="ul_red_good">
                                
                            </ul>

                            </div>
                            <div class="Popular_collocation_detail_right">
                                <div class="Popular_collocation_detail_right_title" style="color: #000; font-weight: normal">
                                    已选择0个配件</div>
                                <div class="Popular_collocation_detail_right_price">
                                    <p>
                                        总价：<b id="b_red_price1">￥</b></p> 
                                </div>
                                <div class="Popular_collocation_detail_right_bottom">
                                    <a href="#">立即购买</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--详情页 搭配 内容 end-->
            <!--详情页 搭配 底部 start-->
            <div class="Product_detail_main_bottom">
                <ul>
                    <li><a href="javascript:;" style="background: url(<%templateskin%>/images/detail_bottom_no.jpg) no-repeat 21px 19px;">
                        商品</a> </li>
                    <li name="li_good_meal"><a href="javascript:;" style="background: url(<%templateskin%>/images/coll_yes.jpg) no-repeat 21px 19px #ff572a;
                        color: #fff;">搭配</a> </li>
                    <li><a href="javascript:;" style="background: url('<%templateskin%>/images/detail_bottom_detail.jpg') no-repeat 21px 19px;">
                        详情</a> </li>
                    <li><a href="javascript:;" style="background: url('<%templateskin%>/images/activity.jpg') no-repeat 8px 19px;
                        padding-left: 25px; width: 82px">活动& 推荐</a> </li>
                </ul>
                <div class="Product_detail_bottom_right">
                    <div class="add_car">
                        <a href="javascript:;" onclick="add_car()">放入购物车</a></div>
                    <div class="detail_collect">
                        <a href="#">收藏</a><span class="top_tip">1</span></div>
                </div>
            </div>
            <!--详情页 搭配 底部 end-->
        </div>