 <div class="good_content">
            <!--详情页 搭配 顶部 start-->
            <div class="collocation_top">
                <div class="collocation_top_left">
                    详情 <span sytle="float:left">CONTENT</span> <span style="float: right; line-height: 30px;" id="collocation_good_name">
                        </span></div>
                <div class="collocation_top_right">
                    <img onclick="close_shopping()" src="<%templateskin%>/images/close_detail.jpg" width="14" height="17" /></div>
            </div>
            <!--详情页 搭配 顶部 end-->
            <!--详情页 搭配 内容 start-->
            <div class="content_main" id="div_good_content">
              
            </div>
            <!--详情页 搭配 内容 end-->
            <!--详情页 搭配 底部 start-->
            <div class="Product_detail_main_bottom">
                <ul>
                    <li><a href="javascript:;" style="background: url(<%templateskin%>/images/detail_bottom_no.jpg) no-repeat 21px 19px;">
                        商品</a> </li>
                    <li name="li_good_meal"><a href="javascript:;" style="background: url(<%templateskin%>/images/coll_yes.jpg) no-repeat 21px 19px;">搭配</a> </li>
                    <li><a href="javascript:;" style="background: url('<%templateskin%>/images/detail_bottom_detail.jpg') no-repeat 21px 19px #ff572a; color: #fff;">
                        详情</a> </li>
                    <li><a href="javascript:;" style="background: url('<%templateskin%>/images/activity.jpg') no-repeat 8px 19px;
                        padding-left: 25px; width: 82px">活动& 推荐</a> </li>
                </ul>
                <div class="Product_detail_bottom_right">
                    <div class="add_car">
                        <a href="javascript:;" onclick="add_car()">放入购物车</a></div>
                    <div class="detail_collect">
                        <a href="#">收藏</a><span class="top_tip">1</span></div>
                </div>
            </div>
            <!--详情页 搭配 底部 end-->
        </div>