<div class="hmrightyou">
                <form id="form3">
					<div class="hmrightyoubox">
						<div class="deptop">密码管理</div>
						<div class="addstaff">
							<div class="addstaffbox mb15">
								<span class="qlleft lh28">旧密码：</span>
								<input type="password" class="qltxt txt150" name="oldpsd" id="oldpsd">
							</div>
							<div class="addstaffbox mb15">
								<span class="qlleft lh28">新密码：</span>
								<input type="password" class="qltxt txt150" name="newpsd" id="newpsd" onblur="validate1()">
							</div>
							<div class="addstaffbox mb15 zqtexiao" id="div1">
								<span class="qlleft lh28"></span>
								<img id="img_show" src="<%templateskin%>/img/nocheck.jpg" width="148px" height="16px" alt="特效验证">
							</div>
							<div class="addstaffbox mb15">
								<span class="qlleft lh28">再次输入：</span>
								<input type="password" class="qltxt txt150"  name="repsd" id="repsd">
							</div>
							<div class="addstaffbox">
								<span class="qlleft lh28"></span>
								<input type="button" class="qlsubmit" width="92px" height="29px" onclick="Submit3()">
							</div>
						</div>
					</div>
				
                </form>
                </div>