 <div class="activity">
            <div class="activity_top">
                <div class="activity_top_left">
                    <a href="javascript:;" class="selected_activity">运行中的活动</a> <a href="javascript:;">活动预告</a>
                </div>
                <img src="<%templateskin%>/images/close_detail.jpg" onclick="close_shopping()" width="14" height="17" /></div>
            <div class="activity_main">
                <div class="activity_main_center">
                    <ul>
                        <li>
                            <div class="activity_main_center_left">
                                <div class="activity_topic">
                                    2月买赠专场</div>
                                <div class="activity_deputy_topic">
                                    <p>
                                        上百种商品有买有赠送不停</p>
                                    <p>
                                        02月10号-02月15号</p>
                                </div>
                                <div class="activity_time">
                                    剩余&nbsp;<span>2</span>&nbsp;小时&nbsp;<span>3</span>&nbsp;分钟&nbsp;<span>45</span>&nbsp;秒&nbsp;</div>
                            </div>
                            <div class="activity_main_center_right">
                                <img src="<%templateskin%>/images/activity_right.jpg" width="610" height="218" /></div>
                            <span class="activity_span">
                                <img src="<%templateskin%>/images/juedui.jpg" width="64" height="64" /></span> </li>
                        <li>
                            <div class="activity_main_center_left">
                                <div class="activity_topic">
                                    2月买赠专场</div>
                                <div class="activity_deputy_topic">
                                    <p>
                                        上百种商品有买有赠送不停</p>
                                    <p>
                                        02月10号-02月15号</p>
                                </div>
                                <div class="activity_time">
                                    剩余&nbsp;<span>2</span>&nbsp;小时&nbsp;<span>3</span>&nbsp;分钟&nbsp;<span>45</span>&nbsp;秒&nbsp;</div>
                            </div>
                            <div class="activity_main_center_right">
                                <img src="<%templateskin%>/images/activity_right.jpg" width="610" height="218" /></div>
                            <span class="activity_span">
                                <img src="<%templateskin%>/images/juedui.jpg" width="64" height="64" /></span> </li>
                        <li style="margin-bottom: 0">
                            <div class="activity_main_center_left">
                                <div class="activity_topic">
                                    2月买赠专场</div>
                                <div class="activity_deputy_topic">
                                    <p>
                                        上百种商品有买有赠送不停</p>
                                    <p>
                                        02月10号-02月15号</p>
                                </div>
                                <div class="activity_time">
                                    剩余&nbsp;<span>2</span>&nbsp;小时&nbsp;<span>3</span>&nbsp;分钟&nbsp;<span>45</span>&nbsp;秒&nbsp;</div>
                            </div>
                            <div class="activity_main_center_right">
                                <img src="<%templateskin%>/images/activity_right.jpg" width="610" height="218" /></div>
                            <span class="activity_span">
                                <img src="<%templateskin%>/images/juedui.jpg" width="64" height="64" /></span> </li>
                    </ul>
                </div>
            </div>
        </div>