<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>三部导购 - {config.webname} - 性价比最高的办公用品商城</title>
<meta content="{config.webkeyword}" name="keywords" />
<meta content="{config.webdescription}" name="description" />
<link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script> 
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.min.js"></script> 
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
    <script src="<%templateskin%>/js/nan.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('.guidenr dl').each(function () {
            $(this).hover(
 			function () {
 			    $(this).children('dt.dis_none').slideDown('fast');
 			},
 			function () {
 			    $(this).children('dt.dis_none').slideUp('fast');
 			}
 		);
        })
    });
</script> 
</head>
<body>
<!--顶部 start-->
    <%template src="_header.html"%>
    <!--顶部 end-->
<!--三步导购 开始-->
<div class="Guide">
      <div class="guidestep">
	        <ul>
			    <li><a href="#" class="on" style=" cursor:default;"><i>1</i>选大类</a></li>
				<li><span></span></li>
			    <li><a href="#" style=" cursor:default;"><i>2</i>选小类</a></li>
				<li><span></span></li>
			    <li><a href="#" style=" cursor:default;"><i>3</i>选属性</a></li>
				<div class="clear"></div>
			</ul>		
	  </div>
	  <div class="guidenr">
      <%set DataTable category_list_tit=get_category_child_list("goods", 0)%>
      <%set string str_son="";%>
                <%loop cdr2_tit category_list_tit%>

                <%csharp%> 
                str_son="";
                DataTable dt_cdr_son=get_category_child_list("goods", Convert.ToInt32(cdr2_tit["id"]));
                foreach(DataRow dr in dt_cdr_son.Rows)
                {
                str_son+=dr["title"].ToString()+"、";
                }
                if(!string.IsNullOrEmpty(str_son))
                {
                str_son=str_son.Substring(0,str_son.Length-1);
                }

                <%/csharp%>
	       <dl style=" position:relative;" >
		       <dt style="display:none;" class="dis_none"><%cutstring({str_son},75)%>"都在这里！"</dt>
              
			   <dd style=" position:absolute; top:108px; left:0;"><a href="<%linkurl("good_category_list",Convert.ToInt32(cdr2_tit["id"]))%>"><img src="{cdr2_tit[img_url]}" width="163" height="165" border="0" alt=""></a>
               <span style="position: absolute;top: 200px;left: 54px;">{cdr2_tit[title]}</span>
               </dd>
		   </dl>
           <%/loop%>
		   
		   <div class="clear"></div>
	  </div>

</div>
<!--三步导购 结束-->

<!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->




</body>
</html>
