<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="sure the order.css" rel="stylesheet" type="text/css" />
</head>


<body>
<!--购物车-->
<div class="ruretop">
      <div class="ruretop1">
      <div class="ruretop2">
      <dl><dt><img src="gou wu che1.jpg" width="93" height="33" /></dt>
          <dd><img src="lv se xian.jpg" width="280" height="5" /></dd>
      </dl>
     <dl><dt><img src="ding dan hongse.jpg"  width="104" height="34" /></dt>
          <dd><img src="hui se xian.jpg" width="280" height="5" /></dd>
      </dl>
      <p><img src="fu kuan.jpg"  width="104" height="34" /></p></div>
      </div>
        
</div>
<!--购物车 end-->
<!--内容 -->
 <div class="rurecontent-top">
   <div class="rurecontent-top1">收获信息</div>
    <div class="rurecontent-top2">
         <div class="rurecontent-top-1">
               <p class="ziti">收货人</p>
               <span class="xingxing">*</span>
               <input class="content-text" type ="text" name="content-text" value="" onfocus="if (value==''){value ='';}" onblur="if (value ==''){value='';}"/>  
               
               <span class="ziti1">公司</span>
              <input class="content-text" type ="text" name="content-text" value="" onfocus="if (value==''){value ='';}" onblur="if (value ==''){value='';}"/>  
         </div>
          <div class="rurecontent-top-2">
                  <p class="ziti">收货人</p>
               <span class="xingxing">*</span>
              
               <select name="select_connet" class="select_connet">
            <option name="News" value="福州地区" selected="selected">福州地区</option>
            <option name="Product" value="厦门地区" >厦门地区</option>
            <option name="Loadown" value="上海地区" >上海地区</option>
            <option name="Apply" value="北京地区" >北京地区</option>
          </select>
          <select name="select_connet" class="select_connet">
            <option name="News" value="区县" selected="selected">区县</option>
            <option name="Product" value="闽侯" >闽侯</option>
            <option name="Loadown" value="闽清" >闽清</option>
            <option name="Apply" value="马尾" >马尾</option>
          </select>
          <p class="ziti">详细地址</p>
               <span class="xingxing">*</span>     
            <input class="content-text1" type ="text" name="content-text" value="" onfocus="if (value==''){value ='';}" onblur="if (value ==''){value='';}"/> 
          </div>
             <div class="rurecontent-top-3">
                   <p class="ziti">收货人</p>
               <span class="xingxing">*</span>
                  <ul><li>发货</li>
                      <span>送货</span>
                </ul>
                <dt>您所在的区域订单满</dt>
                  <dd>199元</dd> 
                 <dt>可免费送货，这是您的选择
                 </dt>
                
             </div>
             
             
             <div class="rurecontent-top-4">
                    <p class="ziti">收货人</p>
               <span class="xingxing">*</span>
               <input class="content-text" type ="text" name="content-text" value="" onfocus="if (value==''){value ='';}" onblur="if (value ==''){value='';}"/> 
               <span class="ziti3">或固定电话</span>
          
                
                
                   <input class="content-text" type ="text" name="content-text" value="" onfocus="if (value==''){value ='';}" onblur="if (value ==''){value='';}"/>
           
             </div>
    </div>
</div>
 <div class="rurecontent-bottom">
        <div class="rurecontent-top1">送货信息</div>
        <div class="rurecontent-top2">
          <div class="rurecontent-topt2">
          
        
         </div>
        </div>
 </div>
<!--内容end-->
<!--底部-->
<div class="rurebottom">
         <div class="rurebottom1"></div>
         
     </div>
    
<!--底部end-->
</body>
</html>
