<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>企力办公</webname>
  <hot_search>1,dd,2,2,桌子,计算机</hot_search>
  <weburl>http://demo.dtcms.net</weburl>
  <weblogo />
  <webcompany>企力办公</webcompany>
  <webaddress>广东省佛山市顺德区大良镇新基三路</webaddress>
  <webtel>13800138000</webtel>
  <webfax>-</webfax>
  <webmail>info@it134.cn</webmail>
  <webcrod>粤ICP备11064298号</webcrod>
  <webtitle>企力办公</webtitle>
  <webkeyword>企力办公</webkeyword>
  <webdescription>企力办公</webdescription>
  <webcopyright>版权所有 企力办公 © Copyright 2009 - 2012. dtcms.net. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <mobilestatus>1</mobilestatus>
  <mobiledomain>m.dtcms.net</mobiledomain>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>318005611@qq.com</emailfrom>
  <emailusername>318005611@qq.com</emailusername>
  <emailpassword>204E53ECBCA33680A1E1C9C56CE675DB</emailpassword>
  <emailnickname>企力办公</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>企力办公</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</siteconfig>